[Desktop Entry]
Type=Application
Name=nzbCheck
Exec=nzbcheck %F
Icon=nzbCheck
Comment=Test nzb files using the Nntp Stat command
Terminal=true
Categories=Network;
X-AppImage-Version=
